################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RemoteExecutorSln/HttpOutBoundApi/bin/Debug/net8.0
/RemoteExecutorSln/HttpOutBoundApi/obj
/RemoteExecutorSln/.vs
/RemoteExecutorSln/PowerShellExecutorApi/bin/Debug/net8.0
/RemoteExecutorSln/PowerShellExecutorApi/obj
/RemoteExecutorSln/RemoteExecutorApi/bin/Debug/net8.0
/RemoteExecutorSln/RemoteExecutorApi/obj
/RemoteExecutorSln/Api.UnitTests/bin/Debug/net8.0
/RemoteExecutorSln/Api.UnitTests/obj
